body{
  counter-reset:i;
  background-color:darkblue;
}
.scroll-div{
    width:50%;
    margin: 15px;
    height: 300px;
    overflow-y: auto;
}
.scroll-div::-webkit-scrollbar{
    width:5px;
}
.scroll-div::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #f5f5f5;
}
.scroll-div::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(orange,red);
}
.one-row{
    background-color:brown;
    color: azure;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
strong{
    
}
strong::before {counter-increment:i;content:counter(i);}


